<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <nav th:replace="nav::navbar"></nav>
</header>
<main>
    <p align="justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias, assumenda cupiditate delectus expedita harum ipsum iusto molestiae, porro quasi qui soluta temporibus totam! Accusantium fugiat nihil quaerat sint vitae.
    </p>
    <p align="jusfity">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi suscipit, voluptatem! Adipisci corporis cumque delectus doloremque earum ex excepturi maxime neque nostrum, perspiciatis qui, reprehenderit tempore ullam ut vel, voluptatum.
    </p>
    <p align="justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci alias autem cupiditate, et eveniet fugiat ipsa ipsum iure necessitatibus nulla numquam quidem quis sapiente sunt? Dolorum ea error reprehenderit.
    </p>
</main>
</body>
</html>